h1,
h2 {
color: #ffffff;
  font-size: 50px;
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}
p{
  color: #ffffff;
    font-size: 24px;
}
body {
  background-color: #000000;
  text-align: center;
}
